.search {
    width: 130px;
    border: 1px solid #c2c2c2;
    min-height: 20px;
    margin-right: 95px;
    padding: 5px 0 5px 30px;
}
.search input[type="search"] {
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 110px;
    vertical-align: middle;
    font-size: 12px;
    height: 14px;
    background-color: transparent ;
    padding-left: 5px;
}
.search input[type="submit"] {
    width: 12px;
    height: 14px;
    border: none;
    outline: none;
    background: url(images/Search_Icon.png) no-repeat 50% 50%;
}
.search input[type="submit"]:active{
    background-color: rgba(221, 248, 255, 0.71);
}
.search input[type="submit"]:hover{
    cursor:pointer;

}
