.autor_404{
    display: flex;
    margin: 0 auto;
    margin-top:135px;
    width: 1142px;
    justify-content:space-between;
    margin-bottom: 75px;
}
.o404{
    width: 540px;
    height: 540px;
    background-image: url('images/404.png');
}
.autor{
    width: 540px;
    height: 541px;
    background-image: url('images/Base.png');
}
.big_hr{
    background-color: rgb(85, 85, 85);
    opacity: 0.2;
    height: 1px;
    margin-top: 5px;
}
.o404_zag{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    width: 436px;
    margin: 0 auto;
    margin-top: 25px;
}
.sorry {
    width: 200px;
    margin:0 auto;
    margin-top: 160px;
}
.sorry p{
    text-align: center;
}
.sorry1{
    font-size: 34px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-bottom: 10px;
    z-index: 106;
}
.we,.find {
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    color: rgb(169, 169, 169);
    text-align: center;
    z-index: 105;
}
.bad_smile{
    width: 31px;
    height: 25px;
    background-image: url('images/smile.png');
    margin:0 auto;
    margin-top: 15px;
}
.back{
    width: 100px;
    height: 10px;
    margin: 0 auto;
    margin-top: 120px;
}
.back input[type = 'button']{
    padding: 5px 40px;
}
.photo_autor{
    width: 130px;
    height: 130px;
    margin-top: 25px;
    margin-left: 40px;
    background-image: url('images/autor_logo.png');
}
.autor_menu{
    display: flex;
    align-items:flex-start;
}
.smal_hr{
    background-color: rgb(85, 85, 85);
    opacity: 0.2;
    width: 295px;
    height: 1px;
}
.icons_g{
    width: 99px;
    height: 15px;
    background-image: url(images/Icons_autor.png);
    margin-bottom: 17px;
}
.name_autor{
    font-weight: bold;
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 14px;
}
.country_autor{
    font-weight: 300;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 14px;
}
.zag_autor{
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
.text_autor{
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-weight: 300;
    line-height: 1.3;
}
.autrograph{
    width: 163px;
    height: 63px;
    background-image: url(images/Signature.png);
    margin-left: auto;
    margin-top: 15px;
}
.smal_autor{
    width: 295px;
    margin-top: 40px;
    margin-left: 20px;

}