.preview{
    margin: 0 auto;
    height: 460px;
    width: 1128px;
    background-repeat: no-repeat;
    margin-top: 80px;
    margin-bottom: 100px;
    opacity: 0;
}
.preview .img{
    position: absolute;
    width: 1128px;
    height: 460px;
    z-index: -100;
}
.preview .block{
    display: block;
    position: relative;
    margin-left: 100px;
    top: 48px;
}
.preview .subLogo{
    width: 252px;
    height: 105px;
    background-image: url('/elems/elems/preview_of_post/images/Logo.png');
    margin-bottom:35px;
}
.preview a{
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    color: #ff1b44;
}
.preview a:hover{
    color: #924239;
}
.preview .textBlock{
    height: 90px;
    margin-bottom: 27px;
}
.preview .text{
    margin-top: 29px;
    width: 325px;
}
.preview input[type="button"]{
    padding: 3px 7px;
    font-size: 12px;
    background-color: #514f4b;
    border: none;
    color: white;
    border-radius: 12px;
    cursor: pointer;
}
.preview input[type="button"]:active{
    outline: none;
    border: none;
    background-color: #bdb8b9;
}
.preview input[type="button"]:focus{
    outline: none;
}
.preview .radio{
    position: absolute; /* блок занимает ширину содержимого, max-width её ограничивает */
    bottom: -50px; /* прикрепить к верху родителя */
    right: 30px;
    user-select: none;
    cursor:default;
}
.preview input[type = "radio"]{
    display: none;
}
.preview input[type="radio"]:checked + label div{
    background-color: #555555;
}
.preview label{
    width: 7px;
    height: 7px;
    border-radius: 10px;
}
.preview label div{
    cursor:pointer;
    display: inline-block;
    margin-right: 5px;
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 10px;
}
