.headMenu .list{
    display: flex;
}
.headMenu .menu_item{
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    list-style-type: none;
}
.headMenu{
    padding-left: 50px;
}
.headMenu .menu_item a{
    font-size: 16px;
    text-decoration: none;
    color:black;
}
.headMenu .menu_item ul{
    display: none;
    background-color: white;
    opacity:0.7;
    position: absolute;
    opacity: 0.8;
    width: 150px;
    padding-bottom: 10px;
}
.headMenu .menu_item ul li{
    padding: 0;
    padding-left: 25px;
    margin-top: 17px;
}
.headMenu .menu_item ul a{
    font-size: 12px;
    font-weight: 100;
}
.headMenu .menu_item:hover>ul a{
    color: gray;
}
.headMenu .menu_item:hover>ul a:hover{
    color:black;
    font-style: italic;
}
