.calendar{
    width: 290px;
    height: 370px;
    background-color: white;
    margin-top: 42px;
    box-shadow: 0 0 9px rgba(128, 128, 128, 0.5);
}
.calendar .title{
    width: 250px;
    margin: 0 auto;
    margin-bottom: 7px;
    margin-top:25px;
}
.calendar .title p{
    font-family: "Josefin Sans",serif;
    font-size: 20px;
    font-style: italic;
}
.calendar .hr{
    width: 246px;
    background-color: rgb(85, 85, 85);
    opacity: 0.2;
    height: 1px;
    margin: 0 auto;
}
.calendar .void{
    width: 1px;
    height: 1px;
}
.calendar .date{
    width: 246px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    margin-top: 15px;
}
.calendar table{
    width: 246px;
    margin: 0 auto;
    margin-top: 25px;
    user-select: none;
}
.calendar .date button{
    width: 15px;
}
.calendar td,.calendar th{
    width: 30px;
    height: 30px;
    background-color: white;
    text-align: center;
    cursor: default;
}
.calendar th{
    font-style: italic;
    text-decoration: underline;
}
.calendar td:hover{
    cursor: pointer;
    background-color: rgba(54, 59, 64, 0.57);
    color: #fff7d7;
}
.calendar .red{
    color:red;
}