.full_post{
    width: 1142px;
    height: 440px;
    margin: 0 auto;
    margin-top: 88px;
    margin-bottom: 88px;
    background-image: url("images/rec1.png")
}
.full_post .icon{
    position: absolute;
    margin-left: 458px;
    margin-top: 10px;
    width: 51px;
    height: 63px;
    background-image: url("images/Photo_Icon.png")
}
.full_post .icon:hover{
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.5);
    cursor:pointer;
}
.full_post .block{
    width: 510px;
    position: absolute;
    margin-left: 570px;
    margin-top: 32px;
    white-space: nowrap;
}
.full_post .title{
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    color: #055555;
}
.full_post .small{
    margin-top: 15px;
    display: flex;
    align-items:center;
}
.full_post .time{
    margin-right: 3px;
    width: 11px;
    height: 12px;
    background-image: url("images/Clock_Icon.png");
}
.full_post .text{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(85, 85, 85);
    z-index: 66;
}
.full_post .easy{
    width: 26px;
    height: 24px;
    background-image: url('images/Easy_Icon.png');
    background-repeat: no-repeat;
    background-size: 75%;
    margin-left: 8px;
}
.full_post input[type="button"]{
    margin-left: auto;
    padding: 5px 14px;
    font-size: 12px;
    background-color:transparent;
    border: 1px solid #c2c2c2;
    cursor: pointer;
}
.full_post .recipe{
    margin-top: 15px;
    padding-right: 25px;
    overflow-y: scroll;
    height: 280px;
}
.full_post .direct,
.full_post .ingridients,
.full_post .full{
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
}
.full_post .ingridients{
    margin-top: -15px;
    height: 100px;
    white-space: pre-line;
    text-align: justify;
}
.full_post .direct{
    font-weight: bold;
}
.full_post .full{
    white-space: pre-line;
    text-align: justify;
    height: 200px;
}